<!doctype html>
<html class="no-js" lang="zxx">

<%- include('../partials/head') %>

	<body>

		<%- include('../partials/header', { activePage: 'datamasyarakat' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row"></div>
					<div class="col-lg-12 col-2">
						<div class="col-lg-12 col-12">
							<div class="row">
								<div class="col-12">
									<div class="comments-form">
										<h1 style="font-size: 18px;"><i style="font-size: 25px; padding-right: 15px;"
												class="fa-solid fa-scale-balanced"></i> masyarakat Hukum Baru</h1>
									</div>
								</div>
							</div>
						</div>
						<form action="/updatemasyarakat" method="POST" enctype="multipart/form-data">
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<div class="d-flex justify-content-between align-items-center">
												<h2 style="display: inline;">Edit Data Masyarakat</h2>
												<i style="font-size: 15px;" class="fa-solid fa-info-circle" title="Data dapat diubah"></i>
											</div>
											<div class="row">
												<!-- ID masyarakat -->
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>ID Masyarakat</small>
														<div class="input-icon">
															<i class="fa-solid fa-key"></i>
															<input id="id_masyarakat" name="id_masyarakat" type="text" value="<%= masyarakat.id_masyarakat %>" readonly>
														</div>
													</div>
												</div>
						
												<!-- NIK -->
												<div class="col-lg-6 col-md-6 col-12">
													<div class="form-group position-relative">
														<small>NIK</small>
														<div class="input-icon">
															<i class="fa-solid fa-key"></i>
															<input id="nik" name="nik" type="number" value="<%= masyarakat.nik %>" oninput="validateNik(this)" required>
															<small id="error-message-nik" style="color:red; display:none;">NIK tidak boleh kosong</small>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<h2 style="display: inline;">Data Masyarakat</h2>
											<br><br>
											<div class="row">
												<!-- Nama -->
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Nama</small>
														<div class="input-icon">
															<input id="nama" name="nama" type="text" value="<%= masyarakat.nama %>" oninput="validateNama(this)" required>
															<small id="error-message-nama" style="color:red; display:none;">Nama tidak boleh kosong</small>
														</div>
													</div>
												</div>

												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Jenis Kelamin</small>
														<div class="input-icon">
															<input id="jenis_kelamin" name="jenis_kelamin" type="text" value="<%= masyarakat.jenis_kelamin %>" required readonly>
															<small id="error-message-nama" style="color:red; display:none;">Nama tidak boleh kosong</small>
														</div>
													</div>
												</div>
						
						
												<!-- Tanggal Lahir -->
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Tanggal Lahir</small>
														<div class="input-icon">
															<input id="tgl_lahir" name="tgl_lahir" type="date" value="<%= masyarakat.tgl_lahir %>" required>
															<small id="error-message-tgl_lahir" style="color:red; display:none;">Tanggal lahir tidak boleh kosong</small>
														</div>
													</div>
												</div>
						
												<!-- Alamat -->
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Alamat</small>
														<div class="input-icon">
															<input id="alamat" name="alamat" type="text" value="<%= masyarakat.alamat %>" oninput="validateAlamat(this)" required>
															<small id="error-message-alamat" style="color:red; display:none;">Alamat tidak boleh kosong</small>
														</div>
													</div>
												</div>
						
												<!-- No. Telepon -->
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>No. Telepon</small>
														<div class="input-icon">
															<input id="no_tlp" name="no_tlp" type="text" value="<%= masyarakat.no_tlp %>" oninput="validateNoTlp(this)" required>
															<small id="error-message-no_tlp" style="color:red; display:none;">No. Telepon tidak boleh kosong</small>
														</div>
													</div>
												</div>
						
												<!-- Email -->
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Email</small>
														<div class="input-icon">
															<input id="email" name="email" type="email" value="<%= masyarakat.email %>" oninput="validateEmail(this)" required>
															<small id="error-message-email" style="color:red; display:none;">Format email tidak valid</small>
														</div>
													</div>
												</div>
					
						
												<!-- Password -->
												<div class="col-lg-12 col-md-6 col-12">
													<div class="form-group">
														<small>Password</small>
														<div class="input-icon">
															<input id="password" name="password" type="password" oninput="validatePassword(this)" required>
															<small id="error-message-password" style="color:red; display:none;">Password tidak boleh kosong</small>
														</div>
													</div>
												</div>
						
												<!-- Submit Button -->
												<div class="col-lg-12 col-12">
													<div class="form-group text-lg-right text-md-right text-center">
														<div class="get-quote">
															<button type="submit" class="btn">Kirim</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						
						

					</div>
			</section>

			<%- include('../partials/footer') %>
				<script src="function/masyarakat2.js"></script>
				<script src="js/jquery.min.js"></script>
				<script src="js/jquery-migrate-3.0.0.js"></script>
				<script src="js/jquery-ui.min.js"></script>
				<script src="js/easing.js"></script>
				<script src="js/colors.js"></script>
				<script src="js/popper.min.js"></script>
				<script src="js/bootstrap-datepicker.js"></script>
				<script src="js/jquery.nav.js"></script>
				<script src="js/slicknav.min.js"></script>
				<script src="js/jquery.scrollUp.min.js"></script>
				<script src="js/niceselect.js"></script>
				<script src="js/tilt.jquery.min.js"></script>
				<script src="js/owl-carousel.js"></script>
				<script src="js/jquery.counterup.min.js"></script>
				<script src="js/steller.js"></script>
				<script src="js/wow.min.js"></script>
				<script src="js/jquery.magnific-popup.min.js"></script>
				<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
				<script src="js/bootstrap.min.js"></script>
				<script src="js/main.js"></script>
	</body>

</html>